* {
    box-sizing: border-box; 
}
html, body {
    background: #3c3836;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-size: 15px;
}
th, td {
    padding: 2px 0;
    padding-right: 8px;
}
a {
    text-decoration: none;
}

#title-wrapper {
    top: 0;
}
#title {
    padding: 10px 20px;
    font-size: 14px;
}
#title div {
    display: inline-block;
}
#title a {
    margin-left: 20px;
    font-weight: normal;
}
#title a i {
    font-size: 14px;
}
#menu {
    margin-left: 40px;
}
.wrapper {
    width: 100%;
    text-align: center;
}
.content {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 900px;
}
#content-wrapper {
    overflow-y: auto;
    max-height: 90vh;
    max-height: calc(100vh - 44px);
}
.padding-20-20 {
    padding: 20px 20px;
}
#main-content {
    padding-bottom: 80px;
}

.white { color: #f0f0f0; }
.green { color: #8ec07c; }
.blue, a { color: #559598; }
.yellow { color: #d79921; }
.red { color: #cc1d46; }
.black { color: #3c3836; }
.bg-white { color: #f0f0f0; }
.bg-green { background: #8ec07c; }
.bg-blue { background: #559598; }
.bg-yellow { background: #d79921; }
.bg-red { background: #cc1d46; }
.bg-black { background: #3c3836; }
.bg-blacker { background: #282625; }