.project-pictures {
    text-align: center;
    width: 100%;
    margin: 40px 0 40px 0;
}
.project-pictures td {
    padding: 1vw 0;
}
.project-pictures .image {
    width: 220px;
    height: 220px;
    max-width: 18vw;
    max-height: 18vw;
    background: #00000020;
    border-radius: 50%;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.project-pictures .image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.project-pictures .text {
    margin-top: 20px;
    font-size: max(min(2vw, 25px), 12px);
}