<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <title>Sunberry - {% block title %}Base{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>
  <div class="bg-yellow wrapper">
    <div id="title" class="white content">
      <img src="/static/img/physalis.png" height="30" style="position: absolute; top: 5px;">
      <div style="margin-left: 45px;">{% block title %}Base{% endblock %}</div>
    </div>
  </div>
  <div class="bg-alpha-dark wrapper">
    <div id="menu" class="white content">
      <a href="/">Home</a>
      <a href="/stats">Stats</a>
      <a href="/links">Links</a>
      <a href="/notes">Notes</a>
    </div>
  </div>
  <div class="wrapper">
    <div class="content padding-20-20">
      {% block content %}<p>Child node is mounted here.</p>{% endblock %}
    </div>
  </div>
</body>
</html>