{% extends "base.html" %}

{% block title %}Links{% endblock %}

{% block content %}
<h1>Links</h1>
<p>
    <h2>Documentations</h2>
    <table>
        <tr>
            <td>Rust:</td>
            <td><a href="https://doc.rust-lang.org/book/" target="_blank">https://doc.rust-lang.org/book/</a></td>
        </tr>
        <tr>
            <td>Actix:</td>
            <td><a href="https://actix.rs/docs/" target="_blank">https://actix.rs/docs/</a></td>
        </tr>
        <tr>
            <td>Askama:</td>
            <td><a href="https://djc.github.io/askama/" target="_blank">https://djc.github.io/askama/</a></td>
        </tr>
    </table>
</p>
{% endblock %}