<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <title>Sunberry - {% block title %}Base{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/base.css">

  <link rel="stylesheet" href="/static/js/highlight.js/style.css">
  <script src="/static/js/highlight.js/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

  <link href="/static/fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="/static/fontawesome/css/solid.css" rel="stylesheet" />
</head>
<body>
  <div id="title-wrapper" class="bg-yellow wrapper">
    <div id="title" class="white content">
      <img src="/static/img/physalis.png" height="30" style="position: absolute; top: 5px;">

      <div id="menu">
        <a href="/">
          {% if page == "home" %}<span class="active-page"><i class="fa-solid fa-house"></i> Home</span>
          {% else %}<span class="black"><i class="fa-solid fa-house"></i> Home</span>{% endif %}
        </a>
        <a href="/system">
          {% if page == "system" %}<span class="active-page"><i class="fa-solid fa-server"></i> System</span>
          {% else %}<span class="black"><i class="fa-solid fa-server"></i>  System</span>{% endif %}
        </a>
        <a href="/book">
          {% if page == "book" %}<span class="active-page"><i class="fa-solid fa-book"></i> Book</span>
          {% else %}<span class="black"><i class="fa-solid fa-book"></i> Book</a></span>{% endif %}
        </a>
      </div>
    </div>
  </div>
  <div id="content-wrapper" class="wrapper">
    <div id="main-content" class="content padding-20-20">
      {% block content %}<p>Child node is mounted here.</p>{% endblock %}
    </div>
  </div>
</body>
</html>