{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Welcome to Sunberry!</h1>
<p>
  This website is hosted on a 100% photovoltaics powered server.
</p>
<div class="chart-container" style="position: relative; height:40vh; width: 100%;">
  <canvas id="myChart"></canvas>
</div>
<p>
  GitHub repository:
  <a href="https://github.com/felixmark/sunberry">https://github.com/felixmark/sunberry</a>
</p>

<script src="/static/js/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: [1, 2, 3, 4, 5, 6],
      datasets: [{
        label: 'Consumed power (W)',
        data: [1, 2, 1, 2, 1, 2],
        borderWidth: 3,
        borderColor: "#559598",
        backgroundColor: "#559598"
      }, {
        label: 'Photovoltaic power (W)',
        data: [0, 3, 20, 14, 5, 0],
        borderWidth: 3,
        borderColor: "#d79921",
        backgroundColor: "#d79921"
      }, {
        label: 'Self-sustainability (W)',
        data: [-1, 1, 19, 12, 4, -2],
        borderWidth: 3,
        borderColor: "#f0f0f0",
        backgroundColor: "#f0f0f0"
      }]
    },
    options: {
      scales: {
        y: {
          max: 22,
        }
      },
      maintainAspectRatio: false,
      cubicInterpolationMode: 'monotone',
      tension: 0.5,
      pointRadius: 0,
      pointHitRadius: 20,
      plugins: {
        legend: {
          labels: {
            usePointStyle: true
          }
        }
      }
    }
  });
</script>
{% endblock %}