{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/home.css">
<h1>Welcome to Sunberry!</h1>

<table class="project-pictures">
  <tr>
    <td>
      <div class="image"><img src="/static/img/solar-panel.png"></div>
    </td>
    <td>
      <div class="image"><img src="/static/img/energy_efficient.png"></div>      
    </td>
    <td>
      <div class="image"><img src="/static/img/cuddlyferris.svg"></div>      
    </td>
    <td>
      <div class="image"><img src="/static/img/educational.png"></div>      
    </td>
  </tr>
  <tr>
    <td>100% Solar powered</td>
    <td>100% Energy efficient</td>
    <td>100% Rust</td>
    <td>100% Educational</td>
  </tr>
</table>

<p>
  GitHub repository:
  <a href="https://github.com/felixmark/sunberry">https://github.com/felixmark/sunberry</a>
</p>
{% endblock %}
