{% extends "base.html" %}

{% block title %}Stats{% endblock %}

{% block content %}
<h1>Stats</h1>
<table>
    <tr><td>Total memory:</td><td>{{ total_memory }}</td></tr>
    <tr><td>Used memory:</td><td>{{ used_memory }}</td></tr>
    <tr><td>Used memory:</td><td>{{ used_memory_percent }}</td></tr>
    <tr><td>Total swap:</td><td>{{ total_swap }}</td></tr>
    <tr><td>Used swap:</td><td>{{ used_swap }}</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>System name:</td><td>{{ system_name }}</td></tr>
    <tr><td>OS version:</td><td>{{ os_version }}</td></tr>
    <tr><td>Kernel:</td><td>{{ kernel_version }}</td></tr>
    <tr><td>Host name:</td><td>{{ host_name }}</td></tr>
</table>

<script>
    setInterval(() => { window.location = window.location.href; }, 5000);
</script>
{% endblock %}